<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>x-person</title>
</head>
<body>
    
    <header>

        <div class="top-header">

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div class="logo"> 
                <img src="images/x-3d.png" alt="Logo de x-person">
                <p>Person</p>
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>

            <div class="car">
                <i class="fas fa-shopping-cart"></i>
            </div> 

        </div>

    </header>
    <section>
        <div class="banner">
            <i class="fas fa-arrow-circle-left"></i>
            <img src="/images/banner.png" alt="banner">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </section>

    <section>

        <div class="categorys">

            <article class="remeras"><p>Remeras</p></article>
            <article class="pantalones"><p>Pantalones</p></article>
            <article class="abrigos"><p>Abrigos</p></article>
            <article class="accesorios"><p>Accesorios</p></article>

        </div>

    </section>

    <main>
        <h3>PRODUCTOS DESTACADOS</h3>
            <div class="carrousel">
                <i class="fas fa-arrow-circle-left"></i>
                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>

                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>

                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>

                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>

                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>

                <article class="product">
                    <div class="product-image">
                        <img src="" alt="">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <p class="product_name">nombre producto</p>
                    <p class="price">precio</p>
                    <p >6 CUOTAS SIN INTERÉS</p>
                </article>
                <i class="fas fa-arrow-circle-right"></i>


            </div>
    </main>

    <footer>
        <section class="data-fiscal">
            <img src="images/data-fiscal.jpg" alt="Data fiscal">
        </section>
        <section class="social-medias">
            <article>
                <i class="fab fa-facebook"></i>
                <p>Facebook</p>
            </article>
            <article>
                <i class="fab fa-instagram"></i>
                <p>Instagram</p>
            </article>
            <article>
                <i class="fab fa-whatsapp"></i>
                <p>Whatsapp</p>
            </article>

        </section>
        <section>
            <p>Quienes somos</p>
            <p>Contacto</p>
            <p>Atención al cliente</p>
            <p>Término y condiciones</p>
        </section>

        <p>© Copyright Indefined - 2021</p>


    </footer>
</body>
</html>