<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href= "https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">

            <nav id="menu">
                <div class="burger-menu">
                    <ul>
                        <li>
                            <i class="fa fa-bars burger"></i>
                        
                        <ul>
                            <li>
                                <div class="form" action="#" method="GET">
                                <div class="input">Buscar</div>
                                <div class="submit"><i class="fa fa-search"></i></div>
                                </div>
                            </li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Tabla de talles</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Cambios y devoluciones</a></li>
                            <i class="fas fa-user-circle"></i>
                            <li><a href="/register">Crear Cuenta</a></li>
                            <li><a href="/login">Iniciar sesión </a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="logo"> 
                <a href="/"><img src="images/x-3d.png" alt="Logo de x-person"><p>Person</p></a>
            </div>

            <div class="car">
                <a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
            </div> 

        </div>
    </header>

    <section class="small-container single-product">
        <div class="row">
            <div class="columna">
                <img src="/images/remeras/remera0.jpg" id= "ProductImg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 BLANCO ]" width="100%">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="/images/remeras/remera0.jpg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 BLANCO ]" width="100%" class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/remeras/remera1.jpg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 MALTINTO ]" width="100%" class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/remeras/remera2.jpg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 MENTA ]" width="100%" class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/remeras/remera3.jpg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 NEGRO ]" width="100%" class="small-img">
                    </div>
                </div>
            </div>
            <div class="columna">
                <p>Home/remeras</p>
                <h1>T-shirts</h1>
                <h1> $precio</h1>
                <select>
                    <option>Selec size</option>
                    <option> xl</option>
                    <option> l </option>
                </select>
                <select name="" id="">
                    <option value="">color</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                
                
                <input type="number" value="1">
                <a href="" class="btn">Agregar al carrito</a>
                <h3>Detalles del productos </h3>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia culpa aliquam perspiciatis eaque quibusdam, hic distinctio error perferendis doloribus ab, nisi deserunt velit minima enim. Officiis laboriosam vero ullam autem?</p>
            </div>
        </div>
    </section>



    <section id="featured" class="mas">
        <div class="conteiner">
            <h3>Tambien te podria interesar</h3>
            <hr>
        </div>
        <div class="row">
            <div class="product">
                <img class= "f" src="/images/remeras/remera0.jpg" alt="">
                <div class="p-details">
                    <p class="p-price">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="p-name">MacBook Pro 2019</p>
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </div>
            </div>
            
            <div class="product">
                <img class= "f" src="/images/remeras/remera0.jpg" alt="">
                <div class="p-details">
                    <p class="p-price">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="p-name">MacBook Pro 2019</p>
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </div>
            </div>
            <div class="product">
                <img class= "f" src="/images/remeras/remera0.jpg" alt="">
                <div class="p-details">
                    <p class="p-price">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="p-name">MacBook Pro 2019</p>
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </div>
            </div>
            <div class="product">
                <img class= "f" src="/images/remeras/remera0.jpg" alt="">
                <div class="p-details">
                    <p class="p-price">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="p-name">MacBook Pro 2019</p>
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
        
    </section>


    <footer>
        <div class="futer">
            <section class="data-fiscal">
                <img src="images/data-fiscal.jpg" alt="Data fiscal">
            </section>
            <section class="social-medias">
                <article>
                    <i class="fab fa-facebook"></i>
                    <p> Facebook</p>
                </article>
                <article>
                    <i class="fab fa-instagram"></i>
                    <p> Instagram</p>
                </article>
                <article>
                    <i class="fab fa-whatsapp"></i>
                    <p> Whatsapp</p>
                </article>
            </section>
            <section class="atencion-cliente">
                <p>Quienes somos</p>
                <p>Contacto</p>
                <p>Atención al cliente</p>
                <p>Término y condiciones</p>
            </section>
        </div>
        <p>© Copyright Indefined - 2021</p>
    </footer>
</body>
</html>